{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn.js') }}"></script>

<div id="learn-lesson-row" class="row d-flex align-items-center">
    <div class="col-md-6 text-center">
        {% autoescape false %}
        <h3 id="rule-num">Rule {{ rule_id }} of 6</h3>
        <h3 id="rule-name">{{ data.rule_name }}</h3>
        {% endautoescape %}
        <img src="/static/img/{{ data.img }}" alt="Top to bottom" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h2 id="practice">Practice here</h2>
        <section class="drawing-board-container">
            <div class="drawing-board">
                <input id="clear" type="image" src="/static/img/reset.png"/>
                <canvas id="drawing-board"></canvas>
            </div>
        </section>
    </div>
</div>
<button id="learn-lesson-next-btn" data-current-id="{{ id }}">Next</button>

{% endblock %}
