{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/quiz1.js') }}"></script>

<div class="text-center">
    <img id="quiz-imgs" src="/static/img/{{ data.img }}" alt="Character" class="img-fluid">
    {% autoescape false %}
    <h3 id="quiz-questions"> Question {{ id }} of 3 </h3>
    <h3 id="question-description"> {{data.text}} </h3>
    {% endautoescape %}
</div>

<div id="quiz-lesson-row" class="row d-flex align-items-center">
    <div class="col-md-6 text-center">
        {% autoescape false %}
        <button class="quiz-buttons" id="answer1" data-current-id="{{ id }}">{{data.answers[0]}}</button>
        <br>
        <button class="quiz-buttons" id="answer2" data-current-id="{{ id }}">{{data.answers[1]}}</button>
        {% endautoescape %}
    </div>
    <div class="col-md-6 text-center">
        {% autoescape false %}
        <button class="quiz-buttons" id="answer3" data-current-id="{{ id }}">{{data.answers[2]}}</button>
        <br>
        <button class="quiz-buttons" id="answer4" data-current-id="{{ id }}">{{data.answers[3]}}</button>
        {% endautoescape %}
    </div>
</div>
<button id="quiz-next-btn" data-current-id="{{ id }}">Next</button>

{% endblock %}
