{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/quiz1.js') }}"></script>

<h4 id="congrat-text">You got <span id="score__"></span> out of 3 correct!</h4>

<div id="quiz-answer-container">
    <p>You have finished the quiz and tutorials. Below are answers to the quiz: </p>
    
    <div id="answer_1_grp" class="row d-flex align-items-center mt-4">
        <div class="col-md-6">
            <p class="quiz-answers-rules">First right-to-left diagonals, then left-to-right diagonals</p>
        </div>
        <div class="col-md-6">
            <img class="quiz_answer_imgs" src="/static/img/quiz_answer_1.png" class="mx-auto d-block">
        </div>
        <div id="result_0" class="quiz_result col-md-6"> </div>

    </div>
    <div id="answer_2_grp" class="row d-flex align-items-center mt-4">
        <div class="col-md-6">
            <p class="quiz-answers-rules">Move from outside to inside and close frames last</p>
        </div>
        <div class="col-md-6">
            <img class="quiz_answer_imgs" src="/static/img/quiz_answer_2.png" class="mx-auto d-block">
        </div>
        <div id="result_1" class="quiz_result col-md-6"> </div>

    </div>
    <div id="answer_3_grp" class="row d-flex align-items-center mt-4">
        <div class="col-md-6">
            <p class="quiz-answers-rules">Left to Right</p>
        </div>
        <div class="col-md-6">
            <img class="quiz_answer_imgs" src="/static/img/quiz_answer_3.png" class="mx-auto d-block">
        </div>
        <div id="result_2" class="quiz_result col-md-6"> </div>
    </div>
</div>

<div id="quiz-btn-group" class="row d-flex justify-content-center text-center">
    <div class="col-md-6">
        <button id="quiz-end-home-btn">Home</button>
    </div>
    <div class="col-md-6">
        <button id="quiz-end-quiz-btn">Redo Quiz</button>
    </div>
</div>
{% endblock %}
