<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/data.js') }}"></script>
    <title>Simplified Chinese Stroke Order</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg py-3 navbar-light">
      <div class="container">
        <a href="/?redirect=false" class="navbar-brand"><img id="logo" src="/static/img/logo.png" alt="Simplified Chinese Stroke Order" class="d-inline-block align-middle mr-2"></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li id="home" class="nav-item active">
              <a href="/?redirect=false" class="nav-link">Home</a>
            </li>
            <li id="learn" class="nav-item dropdown">
              <a href="/learn/1" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Learn</a>
              <div class="dropdown-menu">
                  <a href="/learn/2" class="dropdown-item">Rule 1: Top to bottom</a>
                  <a href="/learn/3" class="dropdown-item">Rule 2: Left to right</a>
                  <a href="/learn/4" class="dropdown-item">Rule 3: First horizontal, then vertical</a>
                  <a href="/learn/5" class="dropdown-item">Rule 4: First right-to-left diagonals, then left-to-right diagonals</a>
                  <a href="/learn/6" class="dropdown-item">Rule 5: Center comes first in vertically symmetrical characters</a>
                  <a href="/learn/7" class="dropdown-item">Rule 6: Move from outside to inside and close frames last</a>
              </div>
            </li>
            <li id="quiz" class="nav-item">
              <a href="/quiz/1" class="nav-link">Quiz</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">   
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>