{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/learn.js') }}"></script>

<h2 id="learn-intro-title">Eight Principles of Yong</h2>
<div id="learn-intro-row" class="row d-flex align-items-center">
    <div class="col-md-5">
        <img src="/static/img/learn_img.png" alt="Chinese character 'Yong'" class="img-fluid">
    </div>
    <div class="col-md-7">
        <p class="rule-intro-des">All eight categories of Chinese strokes can be
           shown in the character 'Yong.' These categories
           will be used along with the six general rules 
           in our stroke order tutorials.</p>
        <p class="rule-intro-des">You can click “Next” to start the tutorials or 
           skip to a specific tutorial by clicking the 
           submenu under “Learn” in the menu bar.</p>
        <button id="learn-intro-next-btn">Next</button>
    </div>
</div>

{% endblock %}
